<form name="todoForm" novalidate>
    <div class="input-field">
        <input ng-model="todo.new" ng-required="true" placeholder="New TODO" name="todoNew" type="text">
        <button class="btn" ng-disabled="todoForm.$invalid" ng-click="todoForm.$valid && todo.add()">
            Add
        </button>
        <button class="btn" ng-disabled="!todo.existsDone()" ng-click="todo.clear()">
            Clear x{{ (todo.data|filter:{ done: 'true', hidden: '!true' }).length }}
        </button>
    </div>
</form>
<ul>
    <li ng-repeat="rcd in todo.data | filter: { hidden: '!true' }">
        <p>
            <input type="checkbox" id="todo-{{ $index }}" class="filled-in" ng-checked="rcd.done"
                   ng-click="todo.toggleDone(rcd)">
            <label for="todo-{{ $index }}" ng-class="{ completed: rcd.done }">
                <span class="todo-title">{{ rcd.title }}</span>
            </label>
        </p>
    </li>
</ul>
